<footer id="primary-footer">
      <p>© Adrian Lin | Designed & Coded by Adrian</p>
</footer>


<footer id="m-primary-footer">
  <nav class="">
    <div class="container">
      <p>© Adrian Lin | Designed & Coded by Adrian</p>

    </div>
  </nav>
</footer>
