<!-- TODO put this into separate CSS file -->
<style>
  #primary-nav li{
    
  }
</style>



<nav id="primary-nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <ul id="primary-nav" class="nav navbar-nav">
      <li><a href="/">Landing</a></li> <!-- this will be my logo -->
      <li><a href="/about">About</a></li>
      <li><a href="/work">Work</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
  </div>
</nav>

