

<nav id="primary-nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a href="/">Adrian Lin</a></li> <!-- this will be my logo -->
      <li><a href="/about">About me</a></li>
      <li><a href="/resume">Resume</a></li>
      <li><a href="/work">Work</a></li>
      <li><a href="/contact">Contact</a></li>
      <!-- <li><a href="/blog">Blog</a></li> -->
    </ul>
  </div>
</nav>

<nav id="m-primary-nav">
  <section>
    <button class="hamburger">&#9776;</button>
    <button class="cross">&#735;</button>
  </section>

  <div class="menu">
    <ul>
      <li><a href="/">Adrian Lin</a></li> <!-- this will be my logo -->
      <li><a href="/about">About me</a></li>
      <li><a href="/resume">Resume</a></li>
      <li><a href="/work">Work</a></li>
      <li><a href="/contact">Contact</a></li>
      <!-- <li><a href="/blog">Blog</a></li> -->
    </ul>
  </div> 
</nav>

<script>
  $(document).ready(function(){
    setUpHamburgerMenu('normal');
    highlightNavPage();
  });

  function setUpHamburgerMenu(speed){
    var $mobileMenu = $('#m-primary-nav .menu'),
        $hamburgerBtn = $('#m-primary-nav .hamburger'),
        $closeBtn = $('#m-primary-nav .cross');

    $closeBtn.hide();
    $mobileMenu.hide();

    $hamburgerBtn.click(function() {
      $mobileMenu.slideToggle( speed, function() {
        $hamburgerBtn.hide();
        $closeBtn.show();
      });
    });

    $closeBtn.click(function() {
      $mobileMenu.slideToggle( speed, function() {
        $closeBtn.hide();
        $hamburgerBtn.show();
      });
    });
  }
  
</script>