<div class="page" id="page-experience">
  <section class="section-block" id="about-me">
    <h2 class="section-title">About me</h2>
    <p>I am a <strong>UX designer & web developer</strong>. I design the human-centered experience and translate it into code in an <strong>intuitive, efficient, and enjoyable</strong> manner. I believe in the power of bringing interdisciplinary fields of knowledge to <strong>tackle problems holistically</strong> so I am constantly learning and applying new skills.</p>
  </section>

  <div class="center-bar">
      <h4>In my free time I...</h4>
      <ul class="child">
        <li class="interest">
          <img src="/images/icons/interests/coding.png" alt="coding">
          <h5>Code up app ideas</h5>
        </li>

        <li class="interest">
          <img src="/images/icons/interests/reading.png" alt="reading">
          <h5>Read up on new skills</h5>
        </li>
        <li class="interest">
          <img src="/images/icons/interests/language.png" alt="languages">
          <h5>Learn (human) languages</h5>
        </li>
        <li class="interest">
          <img src="/images/icons/interests/flamenco.png" alt="flamenco">
          <h5>Play Flamenco guitar</h5>
        </li>

      </ul>
  </div>


  <section class="section-block">
    <h1 class="section-title">Work history</h1>

    <h3>[[Interactive resume goes here]]</h3>

  </section>


  <section class="section-block">


    <h3>Please, have some resumes/portfolios!</h3>

    <div class="center-bar">
      <ul class="child">
        <li><a class="btn btn-primary btn-lg" role="button" href="/pdfs/Adrian-Lin-Resume.pdf" download="Adrian/Lin/Resume.pdf" id="download-resume">Resume!</a></li>
        <li><a class="btn btn-primary btn-lg" role="button" href="/pdfs/Adrian-Lin-Portfolio.pdf" download="Adrian/Lin/Portfolio.pdf" id="download-portfolio">Portfolio!</a></li>

        <li><a class="btn btn-primary btn-lg" role="button" href="" id="mailResumeToSelf">Email yourself!</a></li> 
      </ul>
      
    </div>
  </section>
</div>

<script>

  $(document).ready(function(){
    addDateToResumeName();

    var itemsToAdd = ['Resume', 'Portfolio'];
    prepareMailtoWithResume(itemsToAdd);

    


  });

  function addDateToResumeName(){
    var $downloadResume = $('#download-resume'),
        docName = $downloadResume.attr('download'), 
        date = new Date(),
        dateToAppend = (date.getMonth() + 1) + '/' + date.getDate() + '/' +  date.getFullYear();

    if (docName.slice(-4) === '.pdf' || docName.slice(-4) === '.PDF') {
      docName = docName.slice(0, -4);
    }

    var newDocName = docName + '_' + dateToAppend + '.pdf';
    $downloadResume.attr('download', newDocName);
  }

  function getDownloadLink(pdfName) {
    return 'http://' + window.location.host + '/pdfs/' + pdfName + '.pdf';
  }

  function prepareMailtoWithResume(items){

    var $mailtoBtn = $('#mailResumeToSelf'),
        website = 'http://adrianlin.com',

        /*mailto components */
        emailAddress = '',
        subject = 'Check out this Adrian Lin guy!',
        body = 'Remember to check out Adrian Lin!' + '%0A%0A'
                + 'Website: %0A' + website + '%0A%0A'

    var itemslength = items.length;           
    for (var i = 0; i < itemslength; i++ ) {
        body += '' + items[i] + ':%0A' +getDownloadLink(items[i]) + '%0A%0A'; 
    }

        

    var finalMailto = emailAddress 
                  + '?subject=' + subject
                  + '&body=' + body 
    finalMailto = 'mailto:' + finalMailto;
    $mailtoBtn.attr('href', finalMailto);




  }
</script>


