<section class="section-block bg-image" id="bg-contact">
  <h1>CONTACT</h1>

  <h1>Let's talk!</h1>
  <a href="https://www.linkedin.com/in/adrianmhlin">linkedin/in/adrianmhlin</a>
  <h3>adrianlin.nyc@gmail.com</h3>
</section>

