<main data-page-name="Contact" id="page-contact">
  

    <h1 class="section-title">Let's talk!</h1>
    <a href="https://www.linkedin.com/in/adrianmhlin" target="_blank">linkedin/in/adrianmhlin</a>
    <h3><a href="mailto:adrianlin.nyc@gmail.com">adrianlin.nyc@gmail.com</a></h3>

</main>


<!-- MAYBE MAKE THIS 'find me' so i can put social media things here -->