<h1>EXPERIENCE</h1>

<section class="section-block" id="about-me">
  <h2 class="section-title">About me</h2>
  <p>I am a <em>UX designer & web developer</em>. I design the human-centered experience and translate it into code in an <em>intuitive, efficient, and enjoyable</em> manner. I believe in the power of bringing interdisciplinary fields of knowledge to <em>tackle problems holistically</em> so I am constantly learning and applying new skills.</p>

  <h4>In my free time I...</h4>
  <ul>
    <li><img src="/images/icons/interests-coding.png" alt="coding">Code up app ideas</li>
    <li><img src="/images/icons/interests-reading.png" alt="reading">Read up on new skills</li>
    <li><img src="/images/icons/interests-language.png" alt="languages">Learn (human) languages</li>
    <li><img src="/images/icons/interests-flamenco.png" alt="flamenco">Play Flamenco guitar</li>
  </ul>
</section>




<section class="section-block">
  <h1 class="section-title">Work history</h1>

  <h3>[[Interactive resume goes here]]</h3>

  <h3><a href="/pdfs/resume_adrian_lin.pdf" download="Adrian Lin Resume" id="download-resume">Download my resume!</a></h3>
  <h3><a href="mailto:">Email my resume to yourself!</a></h3>
  <!-- how to mail to clicker's own email? -->
  <!-- how to include body text and more importantly, link to my resume ? -->

</section>
<script>

  $(document).ready(function(){


    /* set up new date on PDF download */
    var $downloadResume = $('#download-resume'),
        docName = $downloadResume.attr('download'),
        date = new Date(),
        dateToAppend = (date.getMonth() + 1) + '/' + date.getDate() + '/' +  date.getFullYear();

    var newDocName = docName + dateToAppend + '.pdf';
    $downloadResume.attr('download', newDocName);
    /* end */


  });
</script>


