<h1>EXPERIENCE</h1>

<section class="section-block" id="about-me">
  <h2 class="section-title">About me</h2>
  <p>I am a <strong>UX designer & web developer</strong>. I design the human-centered experience and translate it into code in an <strong>intuitive, efficient, and enjoyable</strong> manner. I believe in the power of bringing interdisciplinary fields of knowledge to <strong>tackle problems holistically</strong> so I am constantly learning and applying new skills.</p>

  <h4>In my free time I...</h4>
  <ul>
    <li><img src="/images/icons/interests-coding.png" alt="coding">Code up app ideas</li>
    <li><img src="/images/icons/interests-reading.png" alt="reading">Read up on new skills</li>
    <li><img src="/images/icons/interests-language.png" alt="languages">Learn (human) languages</li>
    <li><img src="/images/icons/interests-flamenco.png" alt="flamenco">Play Flamenco guitar</li>
  </ul>

  <div class="interest">
    
  </div>
  <div class="interest"></div>
  <div class="interest"></div>
  <div class="interest"></div>
</section>




<section class="section-block">
  <h1 class="section-title">Work history</h1>

  <h3>[[Interactive resume goes here]]</h3>

  <a class="btn btn-primary btn-lg" role="button" href="/pdfs/resume.pdf" download="Adrian/Lin/Resume.pdf" id="download-resume">Download my resume!</a>
  <a class="btn btn-primary btn-lg" role="button" href="/pdfs/portfolio.pdf" download="Adrian/Lin/Portfolio.pdf" id="download-portfolio">Download my portfolio!</a>

  <a class="btn btn-primary btn-lg" role="button" href="" id="mailResumeToSelf">Email my resume link to yourself!</a>
  <!-- how to mail to clicker's own email? -->
  <!-- how to include body text and more importantly, link to my resume ? -->

</section>
<script>

  $(document).ready(function(){
    addDateToResumeName();

    var itemsToAdd = ['Resume', 'Portfolio'];
    prepareMailtoWithResume(itemsToAdd);

    


  });

  function addDateToResumeName(){
    var $downloadResume = $('#download-resume'),
        docName = $downloadResume.attr('download'),
        date = new Date(),
        dateToAppend = (date.getMonth() + 1) + '/' + date.getDate() + '/' +  date.getFullYear();

    var newDocName = docName + '_' + dateToAppend + '.pdf';
    $downloadResume.attr('download', newDocName);
  }

  function getDownloadLink(pdfName) {
    return 'http://' + window.location.host + '/pdfs/' + pdfName + '.pdf';
  }

  function prepareMailtoWithResume(items){

    var $mailtoBtn = $('#mailResumeToSelf'),
        website = 'http://adrianlin.com',

        /*mailto components */
        emailAddress = '',
        subject = 'Check out this Adrian Lin guy!',
        body = 'Remember to check out Adrian Lin!' + '%0A%0A'
                + 'Website: %0A' + website + '%0A%0A'

    var itemslength = items.length;           
    for (var i = 0; i < itemslength; i++ ) {
        body += '' + items[i] + ':%0A' +getDownloadLink(items[i]) + '%0A%0A'; 
    }

        

    var finalMailto = emailAddress 
                  + '?subject=' + subject
                  + '&body=' + body 
    finalMailto = 'mailto:' + finalMailto;
    $mailtoBtn.attr('href', finalMailto);




  }
</script>


