<!-- about me -->
<section class="bg-image" id="bg-landing">
  <h1>Hi, I'm Adrian</h1>
</section>

<!-- About me -->
<section class="section-block">
  <h2>I am a UX Designer & Web Developer</h2>
  <p>I design useful, intuitive, and pleasurable things. If I feel in the mood I might code them up too!</p>
</section>

<!-- work samples -->
<section class="section-block" id="work-samples">
  <h2>Featured Work</h2> 

  <section class="work-sample">
    <img src="https://www.filepicker.io/api/file/okLslZBTaqRbl9EL1vwD" alt="">
    <h4>Project title</h4>
    <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
    <ul>
      <li>point 1</li>
      <li>point 2</li>
      <li>point 3</li>
    </ul>
  </section>

</section>

<!-- my tools -->
<section class="section-block" id="my-tools">
  <h2>My Tools</h2>
  <%= image_tag('fornow/my-tools.png', :alt => "my tools") %>

</section>

<!-- my process -->
<section class="section-block" id="my-process">
  <h2>My Process</h2>
  <%= image_tag('fornow/my-process.png', :alt => "my process") %>

</section>

<!-- contact -->
<section class="section-block" id="contact-me">
  <h2>Contact me</h2>
  <h3>adrianlin.nyc@gmail.com</h3>
</section>