<main data-page-name="Adrian Lin" id="page-landing">


  <!-- about me -->
  <section class="bg-image" id="bg-landing">

  </section>

  <!-- About me -->
  <section class="section-block">
    <h2 class="section-title">I am a UX Designer & Web Developer</h2>
    <p>I design useful, intuitive, and pleasurable things. If I feel in the mood I might code them up too!</p>
  </section>

  <!-- work samples -->
  <section class="section-block" id="work-samples">
    <%= render 'home/landing_partials/work_samples' %>
  </section>

  <!-- my tools -->
  <section class="section-block bg-image" id="my-tools">
    <%= render 'home/landing_partials/my_tools' %>
  </section>

  <!-- my process -->
  <section class="section-block bg-image" id="bg-my-process">
    <h2 class="section-title">My Process</h2>
  </section>


  <!-- find me -->
  <section class="section-block" id="find-me">
    <%= render 'home/landing_partials/find_me' %>
  </section>  

</main>

