<!-- about me -->
<section class="bg-image" id="bg-landing">

</section>

<!-- About me -->
<section class="section-block">
  <h2 class="section-title">I am a UX Designer & Web Developer</h2>
  <p>I design useful, intuitive, and pleasurable things. If I feel in the mood I might code them up too!</p>
</section>

<!-- work samples -->
<section class="section-block" id="work-samples">
  <h2 class="section-title">Featured Work</h2> 

  <section class="work-sample">
    <img src="https://www.filepicker.io/api/file/okLslZBTaqRbl9EL1vwD" alt="">
    <h4>Project title</h4>
    <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
    <ul>
      <li>point 1</li>
      <li>point 2</li>
      <li>point 3</li>
    </ul>
  </section>

</section>

<!-- my tools -->
<section class="section-block bg-image" id="my-tools">
  <h2 class="section-title">My Tools</h2>
  <p>Here are some of the tools I use for my work. These range from <strong>design to coding to teamwork-related tools</strong> so I can understand the process from start to finish.  I am always trying out new tools and apps to find the <strong>best tool for the task</strong>.</p>
  <%= image_tag("/images/fornow/my-tools.png", :alt => "my tools") %>


  <ul id="tools-coding" class="child"></ul>
  <ul id="tools-ux" class="child"></ul>
  <ul id="tools-collaboration" class="child"></ul>

</section>

<script>
  var tools = {
    'coding': [
      'html',
      'css',
      'javascript',
      'jquery',
      'rails'
    ],
    'ux': [
      'sketch',
      'invision',
      'grafio',
      'photoshop'
    ],
    'collaboration': [
      'evernote',
      'trello',
      'drive'
    ]
  }
  $(document).ready(function(){

    
    attachLis(tools, 'coding', 'tools-coding');
    attachLis(tools, 'ux', 'tools-ux');
    attachLis(tools, 'collaboration', 'tools-collaboration');


  });

  function attachLis(tools, category, ulId) {
    var itemsLength = tools[category].length,
        catArray = tools[category];

    for (var i = 0; i < itemsLength; i++) { 
      var newImg = makeNewImg('/images/icons/tools/', catArray[i], 'png');

      $('#' + ulId).append('<li></li>');
      $('#' + ulId + ' > li:last-child').append(newImg);
    }
  }
  function makeNewImg(path, filename, filetype) {
    var newImg = new Image();
    newImg.src = path + filename + '.' + filetype;
    newImg.alt = filename;

    return newImg;
  }

</script>

<!-- my process -->
<section class="section-block bg-image" id="bg-my-process">
  <h2 class="section-title">My Process</h2>

</section>
<!-- contact -->
<section class="section-block" id="contact-me">
  <h2 class="section-title">Contact me</h2>
  <h3><a href="mailto:adrianlin.nyc@gmail.com">adrianlin.nyc@gmail.com</a></h3>
</section>