<main data-page-name="LinkedIn" class="page-portfolio">
  <%= image_tag("/projects/linkedin/1.png", :alt => "linkedin") %>
  <%= image_tag("/projects/linkedin/2.png", :alt => "linkedin") %>
  <%= image_tag("/projects/linkedin/3.png", :alt => "linkedin") %>
  <%= image_tag("/projects/linkedin/4.png", :alt => "linkedin") %>
</main>
