<!-- render 'work/work_partials/work_nav' -->
<main data-page-name="Work" id="page-work">
  <h4><a href="/portfolio">See my full portfolio as one pdf</a></h4>
  
  <!--     <section class="project">
      <h3></h3>

      <div class="description"><p></p></div>
    </section> -->

</main>


<script>

  $(document).ready(function(){
    attachProjects(projectsHash);
    createProjectSlideUpPanel();
    stickFooterAtBottom('primary-footer');

  });

  var projectsHash = {
    'Yelp': {
      'title': 'Yelp',
      'thumbnail': '/images/work/Yelp/thumbnail.png',
      'skills': [
        'Wireframing',
        'Prototyping',
        'User flows'
        ],
      'description': 'Designing an itinerary feature for the Yelp smartphone app.',
      'link': '/work/yelp'
    },

    'LinkedIn Projects': {
      'title': 'LinkedIn Projects',
      'thumbnail': '/images/work/LinkedIn/thumbnail.png',
      'skills': [
        'Usability testing',
        'Information architecture',
        'Prototyping'
      ],
      'description': 'Designing a platform that brings together people looking to work on their skills and people who want help for their projects.',
      'link': '/work/linkedin'
    },

    'Inked Voices': {
      'title': 'Inked Voices',
      'thumbnail': '/images/work/InkedVoices/thumbnail.png',
      'skills': [
        'Information architecture',
        'Wireframing',
        'Usability testing'
      ],
      'description': 'Redesigning the site navigation to streamline the signup process',
      'link': '/work/inked-voices'
    }
  }

  function attachProjects(projectsHash){
    var portfolioSection = document.createElement('section');

    /* loop through hash and retrieve data and create elements */
    for (key in projectsHash) {
      var title = projectsHash[key]['title'],
          thumbnail = projectsHash[key]['thumbnail'],
          description = projectsHash[key]['description'],
          skills = projectsHash[key]['skills'],
          link = projectsHash[key]['link'],
          projectTemplate = ''; 

      projectTemplate +=  '<a href="' + link + '">';
      projectTemplate +=    '<section class="project" style="background-image:url(' + thumbnail + ');">';
      projectTemplate +=      '<h3>' + title + '</h3>';
      projectTemplate +=      '<div class="description">';
      projectTemplate +=        '<ul class="skills">';
      projectTemplate +=          '<li>' + skills[0] + '</li>';
      projectTemplate +=          '<li>' + skills[1] + '</li>';
      projectTemplate +=          '<li>' + skills[2] + '</li>';
      projectTemplate +=        '</ul>';
      projectTemplate +=        '<p>' + description + '</p>'; 
      projectTemplate +=      '</div>';
      projectTemplate +=      '<div class="opaque-overlay"></div>' 
      projectTemplate +=    '</section>';
      projectTemplate +=  '</a>';
                      
      $(portfolioSection).append(projectTemplate);
    }

    $('main').append(portfolioSection);
  }

  
  function createProjectSlideUpPanel() {
    if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {

    $('.project')
      .mouseover(function(){
        $(this).children('.description').show();
      })
      .mouseout(function(){
        $(this).children('.description').hide();
      });
    }
      
  }



</script>



