

<main data-page-name="Yelp" class="page-portfolio">
  <%= image_tag("/projects/yelp/1.png", :alt => "yelp") %>
  <%= image_tag("/projects/yelp/2.png", :alt => "yelp") %>
  <%= image_tag("/projects/yelp/3.png", :alt => "yelp") %>
  <%= image_tag("/projects/yelp/4.png", :alt => "yelp") %>
</main>

<a href="/work/yelp/presentation" style="display:block; text-align:center;">Get pdf</a>