<!-- <main data-page-name="Yelp">
  <embed class="pdf-view" src="/pdfs/projects/yelp.pdf" type="application/pdf"/>
</main> -->

<main data-page-name="Yelp" class="page-pdf">
<object data="/pdfs/projects/yelp.pdf" type="application/pdf" width="100%">
</object>
</main>