<!-- .center-bar centers things -->
<div class="center-bar"> 
  <h4>In my free time I...</h4>
  <ul class="child">
    <li class="interest">
      <a href="https://github.com/AdrianMhLin" title="Adrian's GitHub">
        <img src="/images/icons/interests/coding.png" alt="coding">
        <h5>Code up app ideas</h5>
      </a>
    </li>

    <li class="interest">
      <a href="https://www.goodreads.com/user/show/42846878-adrian-mh-lin" title="Adrian's Goodreads">
        <img src="/images/icons/interests/reading.png" alt="reading">
        <h5>Read up on new skills</h5>
      </a>
    </li>

    <li class="interest">
      <a href="https://www.duolingo.com/AdrianMhLin" title="Adrian's Duolingo">
        <img src="/images/icons/interests/language.png" alt="languages">
        <h5>Learn (human) languages</h5>
      </a>
    </li>

    <li class="interest">
      <a href="https://soundcloud.com/adrianmhlin" title="Adrian's SoundCloud">
        <img src="/images/icons/interests/flamenco.png" alt="flamenco">
        <h5>Play Flamenco guitar</h5>
      </a>
    </li>
  </ul>
</div>