<h2 class="section-title">My Process</h2>

<section id="my-process-diagram">
  <section>
    <h3>Discover</h3>
    <div>
      <h4>User Interviews</h4>
      <h4>Competitive Research</h4>
      <h4>Contextual Inquiry</h4>
    </div>
  </section>

  <section>
    <h3>Define</h3>
    <div>
      <h4>Affinity mapping</h4>
      <h4>Persona</h4>
      <h4>Journey Mapping</h4>
      <h4>Feature Prioritization</h4>
    </div>
  </section>

  <section>
    <h3>Develop</h3>
    <div>
      <h4>Wireframing</h4>
      <h4>Prototyping</h4>
      <h4>Usability testing</h4>
      <h4>Iterating</h4>
    </div>
  </section>

  <section>
    <h3>Deliver</h3>
    <div>
      <h4>Presentation</h4>
      <h4>Handoff</h4>
    </div>
  </section>

</section>
