/* mobile version */
@media screen and (max-width:500px) {

	/*---------*/
	/* landing */
	#page-landing {}
	#page-landing #my-tools img {width:100%;}
	#featured-work {display:none;}

	/* My tools */
	#my-tools > img {width:100%;}

	/* My process */
	#my-process {background-image: none;}
/*	#m-my-process {width:100%;}*/

	#my-process-diagram h3 {
		color:#155A61;
		margin: 10vw 0 2vw 0 !important;
		font-weight:bold;
	}
	#my-process-diagram h4 {text-align: left;}
	#my-process-diagram div {
		background-color:#F3F3F3;
		padding:1vw;
		width:65vw;
		margin: 0 auto;
		border-radius: 2vw;
	}



	/*---------*/
	/* Find me */
	#find-me li {
		list-style-type: none;
		display:inline;
	}
	#find-me img {
		width:5em;
		margin:1em;
	}


}


/* desktop version */
@media screen and (min-width: 500px) {


	#bg-landing {
		background-image: url('/images/bg.jpg');
		background-size:100% auto;
		height:40.8vw;
		text-align: center;
	}

	/*----------*/
	/* My Tools */
	#my-tools {
	/*	background-image: url('/images/fornow/my-tools.png');
		height:50vw;*/
		background-color:white;

	}
		#my-tools > img { /*for the fornow image */
			display:block;
			margin:0 auto;
		}
		
		#my-tools ul {
			clear:both;
		}
		.img-box {
			width: 6em;
			height: 6em;
		}
			.img-box img {
				display:block;
				margin:0 auto;
			}
		#tools-coding {}
		#tools-ux {}
		#tools-collaboration {}
		
	/*---------------*/
	/* featured work */
	#m-featured-work {display:none;}

	/*------------*/
	/* My Process */
/*	#m-my-process {display:none;}
*/	#my-process {
		background-image: url('/images/fornow/my-process.png');
		height:50vw;
	}
	#my-process-diagram {display:none;}


	/*---------*/
	/* Find me */
	#find-me li {
		list-style-type: none;
		display:inline;
	}
	#find-me img {
		width:5em;
		margin:1em;
	}

}